.col-student,
.col-home {
  padding: 1px 3px;
  height: 100%;
}

.main {
  margin-top: 45px;
  margin-bottom: 61px;
  overflow-y: scroll;
}

.card {
  box-shadow: 1px 1px 4px #000;
}

.block {
  background: rgb(227 178 163);
  border-radius: 10px;
  padding-bottom: 15px;
}

.block1 {
  background: rgb(243 241 152);
  border-radius: 10px;
  padding-bottom: 15px;
}

.block2 {
  background: rgb(255 209 153);
  border-radius: 10px;
  padding-bottom: 15px;
}

.block3 {
  background: rgb(249 209 209);
  border-radius: 10px;
  padding-bottom: 15px;
}

.block-heading {
  text-shadow: 1px 1px 3px #fff;
}

.col-student {
  box-shadow: 1px 1px 4px #000;
}

.col-student .card .card-body p {
  height: 84px;
}

.table > :not(caption) > * > * {
  padding: 1rem 0.5rem;
}
.circle {
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 130px;
  height: 130px;
}
@media screen and (max-width: 330px) and (min-width: 300px) {
  .circle {
    width: 95px;
    height: 95px;
  }
}
@media screen and (max-width: 350px) and (min-width: 330px) {
  .circle {
    width: 100px;
    height: 100px;
  }
}
@media screen and (max-width: 390px) and (min-width: 360px) {
  .circle {
    width: 105px;
    height: 105px;
  }
}
@media screen and (max-width: 420px) and (min-width: 390px) {
  .circle {
    width: 110px;
    height: 110px;
  }
}
@media screen and (max-width: 450px) and (min-width: 420px) {
  .circle {
    width: 115px;
    height: 115px;
  }
}
.circle img {
  width: 100%;
  height: 100%;
}
.reactangle {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.pro-img {
  border-radius: 5px;
  width: 100%;
  height: 121px;
}
