/* Responsive styles for smaller screens */
@media (max-width: 767px) {
  .card {
    width: 100%; /* Make the chart fill the screen width */
    overflow-x: auto; /* Allow horizontal scrolling if needed */
  }
}
.bg-indigo-500 {
  background-color: #6366f1 !important;
}
.bg-purple-500 {
  background-color: #a855f7 !important;
}
.bg-teal-500 {
  background-color: #14b8a6 !important;
}
